<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        <span>User: <%= messages[i].user %></span>
        <span>Text: <%= messages[i].text %></span>
        <span>Date: <%= messages[i].added %></span>
      </li>
    <% } %>
  </ul>
</body>
</html>