<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <button type="button"><a href="/new">New message</a></button>
  <ul>
    <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        <p>User: <%= messages[i].username %></p>
        <p>Text: <%= messages[i].text %></p>
        <p>Date: <%= messages[i].added %></p>
        <button type="button"><a href="/message/<%= messages[i].id %>">Open</a></button>
      </li>
    <% } %>
  </ul>
</body>
</html>